@import "~bootstrap/dist/css/bootstrap.min.css";

h1 {
    color: #fff;
}
body {
    background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
}
.header {
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 15px;
    color: #808080;
}
.controls-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
}
.upload-list {
    margin-top: 15px;
}